/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
html {
  background-color: black;
  color: darkgrey;
}
p {
  line-height: 1.25;
  margin: 15px 0;
  font-size: 1.8rem;
}
.container {
  max-width: 900px;
  margin: 4% auto;
  padding: 2%;
  border: 1px solid darkgrey;
}
header {
  border: 1px solid white;
  padding: 5%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header h1 {
  font-size: 5rem;
  color: white;
  margin-bottom: 10px;
}
header .navbar {
  justify-content: flex-end;
}
header .navbar a {
  font-size: 2.5rem;
  margin: 5px 10px;
  text-decoration: none;
  color: darkgrey;
}
header .navbar a:hover {
  color: green;
}
.intro {
  display: flex;
  font-size: 2rem;
}
.intro img {
  width: 48%;
  height: auto;
  margin: 10px;
}
.intro .info {
  width: 48%;
}
.intro .info .tldr {
  display: flex;
  justify-content: flex-end;
}
.intro .info .tldr h2 {
  justify-content: center;
  align-items: center;
}
.skills {
  border: 1px solid darkgrey;
  width: 48%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills h2 {
  font-size: 3.5rem;
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}
.skills li {
  margin: 5px 10px;
  align-content: space-around;
}
.skills li i {
  font-size: 3rem;
}
